* {
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: #2a303c;
    color: #fff;
}

.logoDiv a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header img {
    height: 30px;
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
}

header span,
header a {
    color: #fff;
}

header a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
}

header ul li {
    display: inline;
    padding-right: 10px;
}